body{
    background: rgb(222,222,222);
    min-width: 750px;
}
header{
    height: 70px;
    width: 100%;
    background: #333;
    display: table;
    vertical-align: middle;
}
header span{
    display: table-cell;
    vertical-align: middle;
    height: 70px;
}
header span img{
    margin-left: 35px;
    cursor: pointer;
}
header ul{
    float: right;
    margin: 0px;
    padding: 0px;
}
header ul li{
    line-height: 70px;
    float: left;
    margin-right: 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
}
header ul li a:hover{
    color:gray;
}
form{
    width: 100%;
    min-width: 300px;
}
form>div{
    margin: 10px 0;
}
.aside{
    padding-left: 10px;
    border-left: 3px #ccc solid;
}
.bot{
    vertical-align: bottom;
}
.hint{
    width: 30%;
    text-align: right;
    display:inline-block;
    margin-right: 20px;
    margin-top: 10px;
    vertical-align: top;
    margin-bottom: 0px;
}
.info{
    width: 30%;
    text-align: right;
    display:inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.warn{
    font-size: 13px;
    color: gray;
    margin-left: 37.5%;
    margin-top: 10px;
}
textarea{
    margin-top: 10px;
    width: 50%;
    height: 100px;
    margin-left: -7px;
}
input[type='submit']{
    width: 100%;
    height: 40px;
    background: #3355d0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    border:1px solid #3355d0;
    font-weight: 800;
}
article{
    margin-top: 40px;
    background-color: #fff;
    margin-left: 40px;
    margin-right: 450px;
    padding: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px #848484;
}
aside{
    background: #fff;
    float: right;
    width: 350px;
    margin-top: 40px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 2px 2px 2px #848484;
}
h3,span{
    color: gray;
}
article>p{
    text-indent: 2em;
}
figure{
    height:120px;
    width: 140px;
    border: 1px solid #aaa;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: inline-block;
}
figcaption{
    padding: 5px;
}
table{
    width: 100%;
    margin: 0 auto;
    border-color: #ccc;
    border-collapse:collapse;
}
thead{
    color: white;
    background: #333;
}
td{
    padding-left: 20px;
}
tfoot{
    background: #ccc;
    font-weight: bold;
}
ol {
    margin-left: 40px;
}
ol>li{
font-weight: bold;
}
footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background: #000;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 60px;
}